<!DOCTYPE html>
<html>

    <%- include("./partials/head")%>


        <%- include("./partials/header")%>
        <body>

        <main>
            <section>

            <nav class="Carrito">
            <h2>Mi Compra</h2>

            <div class="producto">
            <img class="imagenProducto" src="images/nike1.jpg" width="360" alt="Nike Revolution 6">
            <h4>Nike Revolution 6 Next Nature</h4> <br>
            <p>Talle L</p><br>
            <p>$13.499</p><br>
            </div>

            <div class="producto">
            <img class="imagenProducto" src="images/conjunto1.jpg" width="360" alt="Topper Deportivo">
            <h4>Conjunto Topper Deportivo</h4> <br>
            <p>Talle M</p><br>
            <p>$10.499</p><br>
            </div>

            <div class="producto">
            <img class="imagenProducto" src="images/buzo1.jpg" width="360" alt="Buzo Umbro Est">
            <h4>Buzo Umbro Est. Champions 2022</h4> <br>
            <p>Talle XXL</p><br>
            <p>$7.749</p><br>
            </div>

            </nav>
                
            <br><br>

            <button><a href="/">Home</a></button><br><br>
            
            <br><br>
                
            </section>
        </main>
            
        <%- include("./partials/footer")%>
        
            </body>
        </html>
