<!DOCTYPE html>
<html>

    <%- include("./partials/head")%>
    <link rel="stylesheet" href="/css/style_index.css">

<body>

       <%- include("./partials/nav")%>

    <main>

      

          
       
                   <div class="hombre">                    
                       <div class="text">
                          <h3> <a href="/products/hombres" >Con sele </a> </h3>
                       </div>
                   </div>          
       
                   <div class="mujer">
                       <div class="text">
                           <h3> <a href="/products/mujeres" >De la fiesta </a> </h3>
                       </div>
                   </div>

                   <div class="kids">
                       <div class="text">
                           <h3> <a href="/products/kids" > Los mejores look </a> </h3>
                       </div>
                   </div>

                   <div class="accesorios">
                       <div class="text">
                           <h3> <a href="/products" > Todas las fotos subidas </a> </h3>
                       </div>
                   </div>            
           

      

  
        <div class="conteiner">

            <div class="publicidad">

                 <div class="publicidad-conteiner">

                    <i class="fas fa-angle-left"></i>
                    <img src="../img/banners/selefondo.jpg" alt ="Publicidad Nike" class="img">
                    <i class="fas fa-angle-right"></i>

                 </div>

            </div>

          
            <div class="registro">

                <div class="regristro-texto">
                    <p class="registro-texto-p">Podes subir foto con Sele y escrivirle una dedicatoria, Fotos de la fiesta o los mejores look de la noche!!! </p>
                </div>
        
                <div class="btn">
                    <a href ="/products/create" class="btn-register">Subi tu foto</a>                     
                </div>
    
            </div>

           

              
            </div>   
        
         </div>      

    </main>

       <%- include("./partials/footer")%>
        
    </body>

</html>

<script src="/js/js-front.js" type="text/javascript"></script>
