<!DOCTYPE html>
<html>

    <%- include("./partials/head")%>    
    <link rel="stylesheet" href="/css/style_login.css">
   
    <body> 

        <%- include("./partials/nav")%>

        <main>
        <div class="login">

            <div class="title">
                <p class="title-login">Iniciar Sesion</p>
            </div>
    
    
            
                <form method="POST" action="/users/login">
    
                <div class="formulario"> 
                    <div>          
                    <p>Ingresar tu E-mail</p>
                    <input class="inputs"type="text" id="email" name="email" placeholder="E-mail">
                    <% if (locals.errors && errors.email) { %>
                        <div class="text-danger">
                         <%= errors.email.msg %>
                        </div>
                        <% } %>  
                </div> 
                    <p>Ingresar contrase単a</p>
                    <input class="inputs" type="password" id="password2" name="password2" placeholder="Contrase単a"> 
                    <% if (locals.errors && errors.password2) { %>
                        <div class="text-danger">
                         <%= errors.password2.msg %>
                        </div>
                        <% } %>                   
                </div>
                <br>

                <div>
                    <label>
                        <input type="checkbox" class="form-check-input" name="remember_user">Recordar mi usuario
                    </label>
                </div>

            <button class ="btn" type="submit">Ingresar</button>
    
            </form>
    
            <div class="opc-ext">
            <div class="title-no-count">
                <a href ="/users/register" class="new-acount" > 多Olvidaste tu contrase単a? </a> 
            </div>
    
            <div class="">               
                <a href ="/users/register" class="new-acount" >Crear cuenta nueva </a> 
            </div>
            </div>
        </div>   
    </main>         

    

    </body>

    

</html>
